### 과제연습
- 전체 행이 NaN 인 데이터 삭제
- 2015년~2018년까지 데이터 합계를 계산 이후 2014년을 뺀 데이터를 '2014년이전' 필드에 저장
- 2011~2014년 열 삭제
- 조건 2018년 데이터가 500미만 인 데이터 행 삭제 연습

In [2]:
import pandas as pd
df=pd.read_csv('./data/서울시 CCTV 설치 현황.csv', encoding='cp949')
df.dropna(thresh=4)
df=df.dropna(thresh=4)
r=[]
for i in df['2014년']:
    if "," in i:
        i=i.replace("," , "")
        r.append(float(i))
    else:
        r.append(float(i))
df['2014년']=r
df['2014년이전']=df['2015년']+df['2016년']+df['2017년']+df['2018년']-df['2014년']
df.drop(['2011년 이전','2012년','2013년','2014년'], axis=1, inplace=True)
df=df.drop(df[df['2018년']<500].index)




display(df)

      기관명     소계  2015년  2016년  2017년  2018년  2014년이전
4   관 악 구  3,985  609.0  619.0  694.0  671.0   2106.0
7   금 천 구  1,634  382.0  136.0  199.0  530.0   1146.0
16  성 북 구  3,003  279.0  388.0  285.0  643.0   1354.0
18  양 천 구  2,775  172.0  349.0  137.0  830.0   1319.0
19   영등포구  2,495  366.0  289.0  371.0  793.0   1602.0