In [71]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import requests
from bs4 import BeautifulSoup as bs
from tqdm import tqdm

In [119]:
def url_create(sDate, row=10):
    
    key='5oaL5XF7nxzVRPO3HpIwVCoC4CQBQx9tcB5WqEJnT%2FFA9KUyD7HAktzqQFC6xRqGSstXpp%2BSNVA6MjfX6%2BJlEQ%3D%3D'
    url='http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19GenAgeCaseInfJson?serviceKey='+key
    url=url+'&pageNo=1&numOfRows='+str(row)
    url=url+'&startCreateDt='+sDate
    url=url+'&endCreateDt='+eDate

   

    return url

def url_parsing(url):
    covid_html=requests.get(url)
    if covid_html.status_code!=200:
        print('조회할수 없습니다.')
        exit()
    soup=bs(covid_html.content, 'html.parser')
    return soup


def covid_data(covid_soup):
    xml_row=covid_soup.find_all('item')
    cov_Lst=[]
    for i in covData:
        Dte=i.find('createdt').text
        gubun=i.find('gubun').text
        conF=i.find('confcase').text
        Death=i.find('death').text

        cov_Lst.append({"등록일":Dte,"구분":gubun,"누적 확진자":conF,"사망자":Death})
        
    df=pd.DataFrame(cov_Lst)
    return df
def covid_main(sDate, eDate):
    dt_index=pd.date_range(start=sDate, end=eDate)
    dtList=dt_index.strftime('%Y%m%d').tolist()
    df1=pd.DataFrame()
    for sDate in dtList:
        covid_url=url_create(sDate)
        covid_soup=url_parsing(covid_url)
        row=covid_soup.find('totalcount').text
        covid_soup=url_parsing(url_create(sDate, row))
        df = covid_data(covid_soup)

        df1=pd.concat([df1, df], ignore_index=True)


    return df1


sDt = input('시작일 입력(예: 20210101): ')
eDt = input('종료일 입력(예: 20210101): ')

df1 = covid_main(sDt, eDt)

시작일 입력(예: 20210101): 20210101
종료일 입력(예: 20210101): 20210107

                         등록일     구분 누적 확진자  사망자
0     2021-02-01 14:18:13.13    0-9   3004    0
1     2021-02-01 14:18:13.13  10-19   5232    0
2     2021-02-01 14:18:13.13  20-29  11980    0
3     2021-02-01 14:18:13.13  30-39  10019    6
4     2021-02-01 14:18:13.13  40-49  11250   10
...                      ...    ...    ...  ...
2459  2021-01-01 14:17:11.11  60-69   9791  110
2460  2021-01-01 14:17:11.11  70-79   4849  259
2461  2021-01-01 14:17:11.11  80 이상   3064  507
2462  2021-01-01 14:17:11.11     여성  31600  458
2463  2021-01-01 14:17:11.11     남성  30169  459

[2464 rows x 4 columns]

In [124]:
df1

                         등록일     구분 누적 확진자  사망자
0     2021-02-01 14:18:13.13    0-9   3004    0
1     2021-02-01 14:18:13.13  10-19   5232    0
2     2021-02-01 14:18:13.13  20-29  11980    0
3     2021-02-01 14:18:13.13  30-39  10019    6
4     2021-02-01 14:18:13.13  40-49  11250   10
...                      ...    ...    ...  ...
2459  2021-01-01 14:17:11.11  60-69   9791  110
2460  2021-01-01 14:17:11.11  70-79   4849  259
2461  2021-01-01 14:17:11.11  80 이상   3064  507
2462  2021-01-01 14:17:11.11     여성  31600  458
2463  2021-01-01 14:17:11.11     남성  30169  459

[2464 rows x 4 columns]